body {
background-image: url(./images/1614367565_42-p-svetlii-zvezdnii-fon-48.jpeg);
display: flex;
flex-direction: column;
background-repeat: repeat;
animation: 500s para infinite linear;
animation-play-state: running;
}

@keyframes para {
100% {
    background-position: 
        -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
    }
}

.header_background {
    background: rgb(131, 165, 167, .6);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Righteous';
    font-size: 60px;
    color: #15244d;
}

.main_conteiner {
    display: flex;
    flex-direction: row;
}

.search_container {
    background: rgb(131, 165, 167, .4);
    background-image: url(./images/artage-io-thumb-34a4c809ec95e70fe704a2e65850dbe0.png);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    margin-top: 15px;
    width: 350px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.search_title {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color: #15244d;
}

* {
box-sizing: border-box;
}

/* Style the search field */
.search_box input[type=text] {
padding: 10px;
font-size: 17px;
font-family: 'Comfortaa', cursive;
border: 1px solid grey;
float: left;
width: 80%;
background: #f1f1f1;
border-radius: 25px;
border: 1.5px solid rgb(192, 232, 241);
}

/* Style the submit button */
.search_box button {
float: left;
width: 20%;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none; /* Prevent double borders */
cursor: pointer;
border-radius: 25px;
border: 1.5px solid rgb(192, 232, 241);
}

.search_box button:hover {
background: #0b7dda;
}

.weather_container {
    margin-top: 15px;
    margin-left: 5px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.city_weather {
    background: rgb(131, 165, 167, .4);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 40%;
    margin-bottom: 5px;
}

.weak_forecast_conteqiner {
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 60%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.weak_forecast_title{
    font-family: 'Righteous', cursive;
    font-size: 30px;
    margin: 0;
    color: #15244d;
}

.weak_forecast {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.day_one {
    background: rgb(131, 165, 167, .4);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin: 2.5px;
}

.day_two {
    background: rgb(131, 165, 167, .4);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin: 2.5px;
}

.day_three {
    background: rgb(131, 165, 167, .4);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin: 2.5px;
}

.day_four {
    background: rgb(131, 165, 167, .4);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin: 2.5px;
}

.day_five {
    background: rgb(131, 165, 167, .4);
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin: 2.5px;
}

.citi_history_line {
    background: rgba(215, 246, 248, 0.6);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
}

.city_history_name {
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    margin-top: 10px;
}

.city_weather_title {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #15244d;
    margin: 0px;
    margin-bottom: 30px;
}

.city_weather_line {
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
    display: flex;
    height: 50px;
}

.city_name {
    font-family: 'Righteous', cursive;
    margin-right: 30px;
}

.name_of_data {
    margin-right: 30px;
}

.weather01d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/01d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather01n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/01n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather02d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/02d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather02n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/02n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather03d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/03d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather03n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/03n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather04d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/04d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather04n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/04n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather05d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/05d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather05n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/05n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather06d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/06d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather06n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/06n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather07d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/07d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather07n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/07n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather08d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/08d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather08n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/02n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather09d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/09d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather09n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/09n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather10d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/10d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather10n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/10n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather11d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/11d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather11n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/11n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather12d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/12d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather12n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/12n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather13d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/13d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather13n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/13n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather50d {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/50d@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}

.weather50n {
    width: 50px;
    height: 50px;
    background-image: url(http://openweathermap.org/img/wn/50n@2x.png);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    margin-left: 20px;
}